*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Bruno Ace SC", cursive;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
nav {
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: #000;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  color: #d1d1d1;
}
nav ul a{
  color: #d1d1d1;
}
header {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #000;
  display: flex;
}
.people-img {
  max-width: 636px;
}
header li h2 {
  color: #d1d1d1;
  font-size: 64px;
  line-height: 150%;
}
header li:nth-child(3) {
  text-align: right;
  color: #00ffa3;
  font-size: 128px;
  line-height: 150%;
}
.header-content {
  display: flex;
  align-items: center;
}
.arrow-outward-img {
  width: 24px;
}
.arrow-outward-a {
  border-radius: 32px;
  background: #fff;
  padding: 12px 24px;
  max-width: 185px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.arrow-outward-a p{
  color: #000;
}
.introduction {
  background: no-repeat center center
    url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
  padding-bottom: 160px;
  color: #fff;
}
.introduction h1 {
  font-size: 64px;
  line-height: 150%; /* 96px */
  margin-bottom: 36px;
}
.introduction p {
  font-size: 24px;
  line-height: 150%; /* 36px */
  margin-bottom: 32px;
}
.introduction-content {
  max-width: 526px;
}
.introduction-img1,
.introduction-img2 {
  max-width: 196px;
}
.introduction-img3 {
  max-width: 306px;
}
.about {
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  justify-content: space-between;
}
.about-left {
  max-width: 636px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
.about-item {
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
  max-width: 306px;
  max-height: 148px;
  margin-bottom: 24px;
}
.about-item ul {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.about-item h3,
h4 {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 4px;
}
.about-right h2 {
  font-size: 64px;
  line-height: 150%; /* 96px */
  margin-bottom: 36px;
}
.about-right-p {
  max-width: 526px;
  font-size: 24px;
  line-height: 150%;
}
.contact-me{
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 96px;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.contact-left{
  display: flex;
  align-items: center;
}
.contact-left img{
  max-width: 100px;
}
.contact-me h2{
  color: #FFF;
  font-size: 64px;
  line-height: 150%; /* 96px */
  margin-right: 16px;
}
.contact-right{
  max-width: 526px;
  display: flex;
  justify-content: space-between;
} 
.contact-right img{
  max-width: 162px;
}
.my-projects{
  padding-top: 160px;
  padding-bottom: 160px;
}
.my-projects-h2{
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
}
.my-projects h2{
  width: 746px;
  color: #000;
  font-size: 64px;
  line-height: 150%;
}
.my-projects-content{
  display: flex;
  justify-content: space-between;
}
.content-right-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.content-right{
  max-width: 856px;
}
.top-message{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-message-p{
  max-width: 636px;
}
.top-message-a{
  max-width: 185px;
  padding: 12px 24px;
  border-radius: 32px;
  background: #000;
  display: flex;
  justify-content: space-between;
}
.top-message-a-p{
  color: #FFF;
  font-size: 16px;
  line-height: 150%;
}
.rectangle2010{
  max-width: 416px;
}
.rectangle2014{
  max-width: 306px;
}
.rectangle2029{
  max-width: 526px;
}
.rectangle2015{
  max-width: 196px;
}
footer{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #000;
}
.footer-p{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 150%; /* 24px */
}